@import url("https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
.section_1 {
  background-image: url(../img/fetedelamorue.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  background-attachment: fixed;
}
.section_1 h1 {
  color: rgb(244, 166, 11);
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-shadow: 0 0 1rem #000;
  -webkit-animation: text 2s ease-in-out infinite;
          animation: text 2s ease-in-out infinite;
  position: relative;
  top: 100px;
  margin: 12.5%;
  padding: 1.5rem;
  font-family: "Rubik 80s Fade", cursive;
}
.section_1 h1 p {
  overflow: hidden;
}
.section_1 h1 span {
  display: block;
  transform: translateY(120px);
  position: relative;
  overflow: hidden;
  -webkit-animation: 0.9s titleAnimation cubic-bezier(0.31, 0.58, 0.53, 0.11) forwards;
          animation: 0.9s titleAnimation cubic-bezier(0.31, 0.58, 0.53, 0.11) forwards;
}
@-webkit-keyframes titleAnimation {
  to {
    transform: initial;
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes titleAnimation {
  to {
    transform: initial;
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
@media (min-width: 500px) {
  .section_1 h1 {
    font-size: 5rem;
    top: 200px;
    margin: 10%;
  }
}
@media (min-width: 700px) {
  .section_1 h1 {
    font-size: 6rem;
    top: 200px;
    margin: 10%;
  }
}

.section_2 {
  background-image: url(.././img/fetedelamorue.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 300vh;
  width: 100%;
}
.section_2 .paragrapheindex {
  margin: 0;
  height: 300vh;
  width: 100%;
  padding: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
@media (min-width: 500px) {
  .section_2 .paragrapheindex .gridContainerindex1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    gap: 15px;
  }
  .section_2 .paragrapheindex .gridContainerindex1 img {
    width: 120px;
    height: 120px;
    border: 3px solid #124c79;
    align-self: stretch;
  }
}
.section_2 .paragrapheindex .gridContainerindex1 h1 {
  margin-bottom: 60%;
}
.section_2 .paragrapheindex .gridContainerindex1 img {
  width: 120px;
  height: 120px;
  margin-left: 5%;
}
.section_2 .paragrapheindex p {
  font-size: 15px;
  height: 12.5%;
  font-family: "Rubik Vinyl", cursive;
  text-shadow: #B3C7D6 10px 120px 100px;
  border: #B3C7D6 1px solid;
}
.section_2 .paragrapheindex img {
  width: 120px;
  height: 120px;
  margin-left: 5%;
  margin-top: 5%;
  border: 3px solid #B3C7D6;
}
.section_2 .paragrapheindex .biosection2h1 {
  font-family: "Rubik Vinyl", cursive;
  color: rgb(244, 166, 11);
  font-size: 2.7rem;
  margin-left: 0px;
  margin-top: 0px;
  padding: 3px;
  width: 100%;
  border-top: #B3C7D6 5px solid;
  border-bottom: #B3C7D6 5px solid;
}
.section_2 .paragrapheindex img {
  width: 120px;
  height: 120px;
  margin-left: 30%;
  margin-top: 12%;
}
.section_2 .paragrapheindex h2 {
  font-family: "Rubik Vinyl", cursive;
  color: rgb(244, 166, 11);
  font-size: 1.7rem;
  margin-left: 5px;
  margin-top: 100px;
  width: 100%;
}
.section_2 .paragrapheindex p {
  font-family: "Rubik Vinyl", cursive;
  color: #fff;
  text-align: justify;
  font-size: 1rem;
  margin-left: 5px;
  margin-top: 50px;
  width: 100%;
}
.section_2 .gridContainerindex1 .videosection2 {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 500px) {
  .section_2 .gridContainerindex1 {
    display: flex;
  }
}

h3 {
  font-family: "Rubik Vinyl", cursive;
  color: rgb(244, 166, 11);
  font-size: 2.7rem;
  width: 100%;
  margin-left: 8%;
}

.grid-item1 h3 {
  margin-left: -7%;
  font-size: 2rem;
}
.grid-item1 h4 {
  font-family: "Rubik Vinyl", cursive;
  color: rgb(244, 166, 11);
  font-size: 2.7rem;
  margin-left: 2px;
  margin-top: 5px;
  width: 100%;
}

.grid-item2 h4 {
  font-family: "Rubik Vinyl", cursive;
  color: rgb(244, 166, 11);
  font-size: 1.7rem;
  margin-left: 2px;
  margin-top: 5px;
  width: 100%;
}
.grid-item2 a {
  font-family: "Rubik Vinyl", cursive;
  color: rgb(244, 166, 11);
  font-size: 1.7rem;
  margin-left: 2px;
  margin-top: 5px;
  width: 100%;
}
.grid-item2 a:hover {
  color: #fff;
  font-size: 1.9rem;
}

.section_3 {
  background-color: #B3C7D6;
  margin-top: 20px;
  padding: 20px;
}
@media (min-width: 500px) {
  .section_3 {
    margin: 0px;
  }
}
.section_3 figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 12.5%;
  margin-top: 5%;
}/*# sourceMappingURL=index.css.map */